<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itany.zshop.dao.ProductDao">

    <resultMap id="productMap" type="com.itany.zshop.pojo.ProductPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="info" column="info"/>
        <result property="image" column="image"/>
        <association property="productTypePO" javaType="com.itany.zshop.pojo.ProductTypePO" column="product_type_id">
            <id property="id" column="product_type_id"/>
        </association>
    </resultMap>

    <resultMap id="productMap2" type="com.itany.zshop.pojo.ProductPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="info" column="info"/>
        <result property="image" column="image"/>
        <association property="productTypePO" javaType="com.itany.zshop.pojo.ProductTypePO" column="pt.id">
            <id property="id" column="pt.id"/>
            <result property="name" column="pt.name"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="productMap2">
        select p.id,p.name,p.price,p.info,p.image,p.product_type_id,pt.id 'pt.id',pt.name 'pt.name',pt.status
        from t_product p
        left join t_product_type pt
        on p.product_type_id = pt.id
    </select>

    <select id="selectByName" resultMap="productMap">
        select * from t_product
        where name = #{name}
    </select>
    
    <select id="selectById" resultMap="productMap">
        select * from t_product
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.itany.zshop.pojo.ProductPO">
        insert into t_product
        (name, price, image, product_type_id)
        values
        (#{name}, #{price}, #{image}, #{productTypePO.id})
    </insert>

    <update id="update" parameterType="com.itany.zshop.pojo.ProductPO">
        update t_product
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="price != null and price != ''">
                price = #{price},
            </if>
            <if test="info != null and info != ''">
                info = #{info},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="productTypePO.id != null and productTypePO.id != ''">
                product_type_id = #{productTypePO.id},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>