<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itany.zshop.dao.ProductTypeDao">

    <select id="selectAll" resultType="com.itany.zshop.pojo.ProductTypePO">
        select * from t_product_type
    </select>

    <select id="selectByName" resultType="com.itany.zshop.pojo.ProductTypePO">
        select * from t_product_type
        where name = #{name}
    </select>

    <select id="selectById" resultType="com.itany.zshop.pojo.ProductTypePO">
        select * from t_product_type
        where id = #{id}
    </select>

    <insert id="insert">
        insert into t_product_type
        (name, status)
        values (#{name}, #{status})
    </insert>

    <update id="updateName">
        update t_product_type
        set name = #{name}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from t_product_type
        where id = #{id}
    </delete>

</mapper>