<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itany.zshop.dao.SysuserDao">

    <resultMap id="sysuserMap" type="com.itany.zshop.pojo.SysuserPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="loginName" column="login_name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="isValid" column="is_valid"/>
        <result property="createDate" column="create_date"/>
        <association property="rolePO" javaType="com.itany.zshop.pojo.RolePO" column="r.id">
            <id property="id" column="r.id"/>
            <result property="name" column="role_name"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="sysuserMap">
        select
        s.id,s.name,s.login_name,s.password,s.phone,s.email,s.is_valid,s.create_date,s.role_id,r.id 'r.id',r.role_name
        from t_sysuser s
        left join t_role r
        on s.role_id = r.id
    </select>

    <select id="selectByParam" parameterType="com.itany.zshop.param.SysuserParam" resultMap="sysuserMap">
        select
        s.id,s.name,s.login_name,s.password,s.phone,s.email,s.is_valid,s.create_date,s.role_id,r.id 'r.id',r.role_name
        from t_sysuser s
        left join t_role r
        on s.role_id = r.id
        <where>
            <if test="name!=null and name!=''">
                and name like concat(concat('%', #{name}), '%')
            </if>
            <if test="loginName!= null and loginName!= ''">
                and login_name like concat(concat('%', #{loginName}), '%')
            </if>
            <if test="phone!=null and phone!=''">
                and phone = #{phone}
            </if>
            <if test="roleId!=null and roleId!=''">
                and role_id = #{roleId}
            </if>
            <if test="isValid!=null and isValid!=-1">
                and is_valid = #{isValid}
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="sysuserMap">
        select
        s.id,s.name,s.login_name,s.password,s.phone,s.email,s.is_valid,s.create_date,s.role_id,r.id 'r.id',r.role_name
        from t_sysuser s
        left join t_role r
        on s.role_id = r.id
        where s.id = #{id}
    </select>

    <select id="selectByLoginNameAndPassword" resultMap="sysuserMap">
        select
        s.id,s.name,s.login_name,s.password,s.phone,s.email,s.is_valid,s.create_date,s.role_id,r.id 'r.id',r.role_name
        from t_sysuser s
        left join t_role r
        on s.role_id = r.id
        where s.login_name = #{loginName} and s.password = #{password}
    </select>

    <insert id="insert" parameterType="com.itany.zshop.pojo.SysuserPO">
        insert into t_sysuser
        (name, login_name, password, phone, email, is_valid, create_date, role_id)
        values
        (#{name}, #{loginName}, #{password}, #{phone}, #{email}, #{isValid}, #{createDate}, #{rolePO.id})
    </insert>

    <update id="update" parameterType="com.itany.zshop.pojo.SysuserPO">
        update t_sysuser
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="isValid != null and isValid != ''">
                is_valid = #{isValid},
            </if>
            <if test="createDate != null and createDate != ''">
                create_date = #{createDate},
            </if>
            <if test="rolePO != null">
                role_id = #{rolePO.id},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateStatus">
        update t_sysuser
        set is_valid = #{status}
        where id = #{id}
    </update>

</mapper>